skill-tag {
  border: 3px solid #000000;
  background: #fffdfd;
  padding: .35rem .6rem;
  border-radius: 9999px;
  font-size: .9rem;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.skill-tag:hover {
  background: #0d0d0e;
  transform: translateY(-1px);
  box-shadow: 0 6px 16px #0d0d0e;
  color: #ffffff;
  transition: background .2s ease, transform .05s ease, box-shadow .05s ease;
}

